jupyter==1.0.0
matplotlib==3.7.0
black==22.6.0 
mypy==0.971
pylint==2.14.5
pymrio==0.5.3
country_converter==1.0.0
plotly==5.17.0
kaleido==0.2.1
pytest==7.1.0
pandas==2.1.1
numpy==1.26.4
seaborn==0.13.2 