jupyter==1.0.0
matplotlib==3.7.0
black==22.6.0 
mypy==0.971
pylint==2.14.5
plotly==5.13.1
pandas==2.0.0
squarify==0.4.3
seaborn==0.13.0
influxdb-client==1.45.0
ipykernel==6.29.5
prometheus-client==0.20.0
requests==2.32.3
ipykernel==6.29.5
numpy==1.26.4
scipy
scikit-learn==1.5.2 
kubernetes